LOCAL_UPSCALE_WORKER_TOKEN=
LOCAL_UPSCALE_WORKER_PORT=8091
LOCAL_UPSCALE_RUNTIME=auto
LOCAL_UPSCALE_MODEL_DIR=./models
LOCAL_UPSCALE_DATA_DIR=./data
LOCAL_UPSCALE_JOB_TIMEOUT_SECONDS=1800
LOCAL_UPSCALE_MAX_UPLOAD_BYTES=104857600
LOCAL_UPSCALE_MAX_INPUT_PIXELS=67108864
LOCAL_UPSCALE_DOWNLOAD_RESERVE_BYTES=1073741824
