H3_WORKER_SERVICE_TOKEN=
H3_WORKER_PORT=8080
H3_BACKEND=mock
H3_SGLANG_PRECISION_PROFILE=bf16_offload
H3_ENABLED_VARIANTS=fl2va
H3_RESULT_DIR=/data/results
H3_TEMP_DIR=/data/tmp
H3_MODEL_DIR=/models
H3_STORAGE_BACKEND=local
H3_S3_ENDPOINT_URL=
H3_S3_REGION=
H3_S3_BUCKET=
H3_S3_PREFIX=h3-results
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SGLANG_FL2VA_URL=http://h3-fl2va:30010
SGLANG_REF2VA_URL=http://h3-ref2va:30011
H3_JOB_TIMEOUT_SECONDS=3600
H3_UPSTREAM_REQUEST_TIMEOUT_SECONDS=30
H3_POLL_INTERVAL_SECONDS=2
H3_MAX_REQUEST_BYTES=2097152
H3_MAX_UPLOAD_BYTES=104857600
H3_MAX_JOB_INPUT_BYTES=524288000
H3_RESULT_RETENTION_HOURS=168
H3_TEMP_RETENTION_HOURS=24
H3_IDLE_SHUTDOWN_MINUTES=20
HF_TOKEN=
H3_ACCEPT_MODEL_LICENSE=
